In [6]:
## Pandas Series (มี Index ชัดเจนหรือ label) and data frame (นำ Series หลายๆ sereis เรียงต่อกัน)
import numpy as np 
import pandas as pd
score = [10,20,30]
name = ['Bas','Mo',"Name"]
dic1 = {'Bas':10,"Mo":20,'Name':30}
print(dic1)
print(pd.Series(dic1)) ## เเเปลงจาก Dictionary เป็น Series

{'Bas': 10, 'Mo': 20, 'Name': 30}
Bas     10
Mo      20
Name    30
dtype: int64

In [16]:
serie2 = pd.Series(data = score,index = name) ## เเปลงจาก list,numpy array เป็น Series
print(serie2)
print(serie2.index)
print(serie2.index[2])
print(serie2.values)
print(serie2.values[2])

Bas     10
Mo      20
Name    30
dtype: int64
Index(['Bas', 'Mo', 'Name'], dtype='object')
Name
[10 20 30]
30

In [23]:
print(serie2)
print(serie2[0:2])
print(serie2[[0,2]]) ## เลือกเป็นคู่
## ใช้ sum,mean,max,min,std ได้เหมือนกับ array

Bas     10
Mo      20
Name    30
dtype: int64
Bas    10
Mo     20
dtype: int64
Bas     10
Name    30
dtype: int64

In [25]:
## Dataframe คล้ายๆ array 2 D
import numpy as np 
import pandas as pd
values = np.random.randint(0,20,(3,3))
values

array([[19, 14,  4],
       [13, 19,  9],
       [12, 11, 12]])

In [28]:
row = ['A','B','C']
colum = ['X','Y','Z']
df = pd.DataFrame(values,row,colum) ## ต้องให้ Index ทั้ง row เเละ colum
df

    X   Y   Z
A  19  14   4
B  13  19   9
C  12  11  12

In [31]:
## การเข้าถึงสมาชิกใน colum
df['X'] ## หรือ df.X เเต่ไม่ควรใช้เพราะจะสับสนกับการใช้ฟังก์ชัน

A    19
B    13
C    12
Name: X, dtype: int32

In [33]:
df[['X','Z']]

    X   Z
A  19   4
B  13   9
C  12  12

In [52]:
df['P'] = [1,2,3] ## เพิ่ม colum เเบบง่ายๆ
df

    X   Y   Z  P
A  19  14   4  1
B  13  19   9  2
C  12  11  12  3

In [53]:
df.drop('P', axis = 1, inplace = True) ## เอาเเกน P ออก (Axis = 0 คือ row , Axis = 1 คือ colum) เเต่ข้อมูลจริงยังอยู่ ต้อง inplace = 1

In [59]:
df

    X   Y   Z
A  19  14   4
B  13  19   9
C  12  11  12

In [61]:
## การเข้าถึง สมาชิกใน dataframe
df.loc[['A','C']] ##เลือกเเถว A กับ C หรือ  df.loc[[0,2]]

    X   Y   Z
A  19  14   4
C  12  11  12

In [65]:
df.loc['B','Z']

9

In [68]:
df.loc[['A','B'],['Y','Z']]

    Y  Z
A  14  4
B  19  9

In [70]:
## เลือกข้อมูลเเบบมีเงื่อนไข ทั้ง data frame
df > 10

      X     Y      Z
A  True  True  False
B  True  True  False
C  True  True   True

In [72]:
df[df > 10]

    X   Y     Z
A  19  14   NaN
B  13  19   NaN
C  12  11  12.0

In [75]:
df['X'] < 13 ## เลือก colum X สำหรับหาเงื่อนไข
df[df['X'] < 13] ## เมื่อปริ้น data ftame จะได้ เเถวที่ colume ที่เลือกมีค่าความจริงเป็ฯ True

    X   Y   Z
C  12  11  12

In [77]:
df

    X   Y   Z
A  19  14   4
B  13  19   9
C  12  11  12

In [79]:
df[(df['X'] < 13) & (df['Y'] > 10)]

    X   Y   Z
C  12  11  12

In [84]:
## Multiple-Index dataFrame จับกลุ่มของ row
level1 = ['A','A','A','B','B','B']
level2 = ['X','Y','Z','X','Y','Z']
colum = ['ยอดขาย 1','ยอดขาย 2']
index = list(zip(level1,level2))
revenue = np.random.randint(5,20,(6,2))
multi_Index = pd.MultiIndex.from_tuples(index)
df = pd.DataFrame(revenue,multi_Index,colum)
df

     ยอดขาย 1  ยอดขาย 2
A X        14        16
  Y        19         6
  Z        13        15
B X        13        11
  Y         7         8
  Z        18        16