In [1]:
## Chapter 3 Import file CSV.
import numpy as np
import pandas as pd
df = pd.read_csv('D:\Automobile_data.CSV', nrows = 10, usecols=[0,2,3,5,8]) ## nrows,usecols การกำหนดจำนวนเเถวกับหลักที่จะใช้
df

   symboling         make fuel-type num-of-doors engine-location
0          3  alfa-romero       gas          two           front
1          3  alfa-romero       gas          two           front
2          1  alfa-romero       gas          two           front
3          2         audi       gas         four           front
4          2         audi       gas         four           front
5          2         audi       gas          two           front
6          1         audi       gas         four           front
7          1         audi       gas         four           front
8          1         audi       gas         four           front
9          0         audi       gas          two           front

In [2]:
## Export file
df.to_csv('New Automobile_data.CSV' , index = False) ## ถ้าเซฟ index จะกลายเป็นเพิ่ม colum
df2 = pd.read_csv('New Automobile_data.CSV')
df2

   symboling         make fuel-type num-of-doors engine-location
0          3  alfa-romero       gas          two           front
1          3  alfa-romero       gas          two           front
2          1  alfa-romero       gas          two           front
3          2         audi       gas         four           front
4          2         audi       gas         four           front
5          2         audi       gas          two           front
6          1         audi       gas         four           front
7          1         audi       gas         four           front
8          1         audi       gas         four           front
9          0         audi       gas          two           front

In [3]:
## การจัดการข้อมูลประเภท Missing Values
import numpy as np
import pandas as pd
df = pd.read_csv('D:\Automobile_data.CSV', na_values ={'normalized-losses':['?'], 'stroke':['?'],'horsepower':['?'],'peak-rpm':['?'],'price':['?']}) ## เเปลงข้อมูลที่หายไปเป็น NaN
df ## เครื่องหมาย ? เเทนค่าที่ถูกบันทึกไว้ (ค่าว่างกลายเป็นเครื่องหมาย) ต้องเเทน ? ด้วยค่า NaN

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [4]:
## df.dropna(axis=1),df.dropna(axis=0) ลบข้อมูล NaN ที่ปรากฏตามหลัก (Axis=1) หรือ ตามเเถว (Axis =0)
df.dropna(axis=0) ## save การเเก้ไขด้วย inplace = True

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.0
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.80,8.8,101.0,5800.0,23,29,16430.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [5]:
df.fillna(value = 0) ##เเทนค่า NaN ด้วย 0 เเต่ใช้ได้กับกลุ่มข้อมูลที่เป็นตัวเลขเท่านั้น

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,0.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,0.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [6]:
df['normalized-losses'].fillna(value = 0)  ##เเทนค่า NaN ด้วย 0 เฉพาะ colum

0        0.0
1        0.0
2        0.0
3      164.0
4      164.0
       ...
200     95.0
201     95.0
202     95.0
203     95.0
204     95.0
Name: normalized-losses, Length: 205, dtype: float64

In [7]:
avg = df['normalized-losses'].mean() ## เป็นวิธียอดฮิต เพื่อคงค่าเฉลี่ยของข้อมูลให้คงเดิม เเทนค่า NaN ด้วยค่าเฉลี่ย
print(avg)
df['normalized-losses'].fillna(value = avg) ## อย่าลืม inplace = True น่ะครับบบบ

122.0

0      122.0
1      122.0
2      122.0
3      164.0
4      164.0
       ...
200     95.0
201     95.0
202     95.0
203     95.0
204     95.0
Name: normalized-losses, Length: 205, dtype: float64

In [8]:
##ฟังก์ชั่นต่างๆ ใน Dataframe
df.head() ## เเสดงจำนวนหัวเเถว () = 5 เเถวเเรก

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [9]:
df.tail() ## เเสดงจำนวนหัวเเถว () = 5 เเถวสุดท้าย

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [10]:
df.sample(10) #สุ่มมาจำนวน n เเถว

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
70,-1,93.0,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,...,183,idi,3.58,3.64,21.5,123.0,4350.0,22,25,31600.0
46,2,NaN,isuzu,gas,std,two,hatchback,rwd,front,96.0,...,119,spfi,3.43,3.23,9.2,90.0,5000.0,24,29,11048.0
122,1,154.0,plymouth,gas,std,four,sedan,fwd,front,93.7,...,98,2bbl,2.97,3.23,9.4,68.0,5500.0,31,38,7609.0
154,0,81.0,toyota,gas,std,four,wagon,4wd,front,95.7,...,92,2bbl,3.05,3.03,9.0,62.0,4800.0,27,32,7898.0
188,2,94.0,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,10.0,100.0,5500.0,26,32,9995.0
162,0,91.0,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70.0,4800.0,28,34,9258.0
19,1,98.0,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,6295.0
126,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207.0,5900.0,17,25,32528.0
76,2,161.0,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,...,92,2bbl,2.97,3.23,9.4,68.0,5500.0,37,41,5389.0
199,-1,74.0,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162.0,5100.0,17,22,18950.0

In [11]:
df.info() ## เช็คจำนวนข้อมูลในเเต่ละ colum ได้ ดูประเภทข้อมูลได้

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(10), int64(5), object(11)
memory usage: 41.8+ KB

In [12]:
df.describe() ## สรุปข้อมูลทางคณิตศาสตร์ของข้อมูลที่เป็นตัวเลขในเเต่ละ colum

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,164.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,201.000000,205.000000,203.000000,203.000000,205.000000,205.000000,201.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,1.245307,35.442168,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.316717,3.972040,39.714369,479.334560,6.542142,6.886443,7947.066342
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,1.000000,115.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,150.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [34]:
check = df.groupby(['make']) ## จับกลุ่มข้อมูลที่ซ้ำกันในเเต่ละเถวของ colum make เเล้วหาค่าสำคัญทางคณิตศาสตร์
check.describe()

              symboling                                                 \
                  count      mean       std  min   25%  50%   75%  max
make
alfa-romero         3.0  2.333333  1.154701  1.0  2.00  3.0  3.00  3.0
audi                7.0  1.285714  0.755929  0.0  1.00  1.0  2.00  2.0
bmw                 8.0  0.375000  0.744024  0.0  0.00  0.0  0.25  2.0
chevrolet           3.0  1.000000  1.000000  0.0  0.50  1.0  1.50  2.0
dodge               9.0  1.000000  1.000000 -1.0  1.00  1.0  1.00  3.0
honda              13.0  0.615385  0.767948  0.0  0.00  0.0  1.00  2.0
isuzu               4.0  0.750000  0.957427  0.0  0.00  0.5  1.25  2.0
jaguar              3.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0
mazda              17.0  1.117647  1.166316  0.0  0.00  1.0  1.00  3.0
mercedes-benz       8.0  0.000000  1.414214 -1.0 -1.00 -0.5  0.25  3.0
mercury             1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
mitsubishi         13.0  1.846154  1.214232 -1.0  1.00  2.0  3.00  3.0
nissan             18.0  1.000000  0.907485  0.0  0.25  1.0  1.00  3.0
peugot             11.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0
plymouth            7.0  1.000000  1.154701 -1.0  1.00  1.0  1.00  3.0
porsche             5.0  2.600000  0.894427  1.0  3.00  3.0  3.00  3.0
renault             2.0  1.000000  1.414214  0.0  0.50  1.0  1.50  2.0
saab                6.0  2.500000  0.547723  2.0  2.00  2.5  3.00  3.0
subaru             12.0  0.500000  0.904534  0.0  0.00  0.0  0.50  2.0
toyota             32.0  0.562500  1.216486 -1.0  0.00  0.0  1.25  3.0
volkswagen         12.0  1.666667  1.073087  0.0  1.50  2.0  2.00  3.0
volvo              11.0 -1.272727  0.467099 -2.0 -1.50 -1.0 -1.00 -1.0

              normalized-losses              ... highway-mpg       price  \
                          count        mean  ...         75%   max count
make                                         ...
alfa-romero                 0.0         NaN  ...       27.00  27.0   3.0
audi                        4.0  161.000000  ...       25.00  30.0   6.0
bmw                         4.0  190.000000  ...       28.25  29.0   8.0
chevrolet                   3.0  100.000000  ...       48.00  53.0   3.0
dodge                       9.0  133.444444  ...       38.00  41.0   9.0
honda                      13.0  103.000000  ...       34.00  54.0  13.0
isuzu                       0.0         NaN  ...       43.00  43.0   2.0
jaguar                      1.0  145.000000  ...       19.00  19.0   3.0
mazda                      15.0  123.933333  ...       38.00  42.0  17.0
mercedes-benz               5.0  102.800000  ...       25.00  25.0   8.0
mercury                     0.0         NaN  ...       24.00  24.0   1.0
mitsubishi                 10.0  146.200000  ...       32.00  41.0  13.0
nissan                     18.0  135.166667  ...       37.00  50.0  18.0
peugot                      7.0  161.000000  ...       29.00  33.0  11.0
plymouth                    6.0  129.000000  ...       38.00  41.0   7.0
porsche                     1.0  186.000000  ...       27.00  28.0   4.0
renault                     0.0         NaN  ...       31.00  31.0   2.0
saab                        6.0  127.000000  ...       28.00  28.0   6.0
subaru                     12.0   92.250000  ...       32.25  37.0  12.0
toyota                     31.0  110.290323  ...       36.25  47.0  32.0
volkswagen                  8.0  121.250000  ...       39.00  46.0  12.0
volvo                      11.0   91.454545  ...       28.00  28.0  11.0

                                                                      \
                       mean          std      min       25%      50%
make
alfa-romero    15498.333333  1734.937559  13495.0  14997.50  16500.0
audi           17859.166667  3452.379493  13950.0  15800.00  17580.0
bmw            26118.750000  9263.832033  16430.0  19958.75  22835.0
chevrolet       6007.000000   754.421633   5151.0   5723.00   6295.0
dodge           7875.444444  2213.386044   5572.0   6377.00   7609.0
honda           8184.692308  2061.672112   5399.0   6855.00   7295.0
isuzu           8916.500000  3014.396208   6785.0   7850.75   8916.5
jaguar         34600.000000  2047.559523  32250.0  33900.00  35550.0
mazda          10652.882353  3975.682094   5195.0   7395.00  10595.0
mercedes-benz  33647.000000  6789.560306  25552.0  28230.00  32892.0
mercury        16503.000000          NaN  16503.0  16503.00  16503.0
mitsubishi      9239.769231  3042.998690   5389.0   6989.00   8499.0
nissan         10415.666667  4477.394200   5499.0   7311.50   8124.0
peugot         15489.090909  2246.749673  11900.0  13530.00  16630.0
plymouth        7963.428571  2395.544257   5572.0   6460.50   7609.0
porsche        31400.500000  6528.784343  22018.0  29900.50  33278.0
renault         9595.000000   424.264069   9295.0   9445.00   9595.0
saab           15223.333333  2860.794761  11850.0  12887.50  15275.0
subaru          8541.250000  1940.191468   5118.0   7378.75   7894.0
toyota          9885.812500  3204.982114   5348.0   7870.50   9103.0
volkswagen     10077.500000  2178.549872   7775.0   8145.00   9737.5
volvo          18063.181818  3314.650263  12940.0  16250.00  18420.0


                    75%      max
make
alfa-romero    16500.00  16500.0
audi           18617.50  23875.0
bmw            32290.00  41315.0
chevrolet       6435.00   6575.0
dodge           8558.00  12964.0
honda           9095.00  12945.0
isuzu           9982.25  11048.0
jaguar         35775.00  36000.0
mazda          11845.00  18344.0
mercedes-benz  36532.00  45400.0
mercury        16503.00  16503.0
mitsubishi      9959.00  14869.0
nissan         13499.00  19699.0
peugot         16987.50  18150.0
plymouth        8439.00  12764.0
porsche        34778.00  37028.0
renault         9745.00   9895.0
saab           17490.00  18620.0
subaru         10019.50  11694.0
toyota         10973.25  17669.0
volkswagen     11768.75  13845.0
volvo          20265.00  22625.0

[22 rows x 120 columns]

In [14]:
print(df['make'].unique()) #ข้อมูลชนิด string ที่ไม่ซ้ำกันใน colum make
print(len(df['make'].unique()))

['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
22

In [15]:
df['make'].value_counts() ## นับจำนวนข้อมูลที่เป็น string

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
subaru           12
volkswagen       12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
alfa-romero       3
jaguar            3
chevrolet         3
renault           2
mercury           1
Name: make, dtype: int64

In [16]:
## การเลือกข้อมูลใน data frame เเบบมีเงื่อนไข
df[df['horsepower'] > 180]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
15,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,30760.0
16,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,41315.0
17,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,15,20,36880.0
49,0,NaN,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262.0,5000.0,13,17,36000.0
73,0,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.8,3.35,8.0,184.0,4500.0,14,16,40960.0
74,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184.0,4500.0,14,16,45400.0
105,3,194.0,nissan,gas,turbo,two,hatchback,rwd,front,91.3,...,181,mpfi,3.43,3.27,7.8,200.0,5200.0,17,23,19699.0
126,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207.0,5900.0,17,25,32528.0
127,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207.0,5900.0,17,25,34028.0
128,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207.0,5900.0,17,25,37028.0
129,1,NaN,porsche,gas,std,two,hatchback,rwd,front,98.4,...,203,mpfi,3.94,3.11,10.0,288.0,5750.0,17,28,NaN

In [17]:
df.sort_values('horsepower') ## เรียงข้อมูลที่เป็นตัวเลขจาก น้อยไปมาก ([::-1] = มากไปน้อย)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48.0,5100.0,47,53,5151.0
182,2,122.0,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52.0,4800.0,37,46,7775.0
184,2,94.0,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52.0,4800.0,37,46,7995.0
90,1,128.0,nissan,diesel,std,two,sedan,fwd,front,94.5,...,103,idi,2.99,3.47,21.9,55.0,4800.0,45,50,7099.0
158,0,91.0,toyota,diesel,std,four,sedan,fwd,front,95.7,...,110,idi,3.27,3.35,22.5,56.0,4500.0,34,36,7898.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207.0,5900.0,17,25,32528.0
49,0,NaN,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262.0,5000.0,13,17,36000.0
129,1,NaN,porsche,gas,std,two,hatchback,rwd,front,98.4,...,203,mpfi,3.94,3.11,10.0,288.0,5750.0,17,28,NaN
130,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295.0
131,2,NaN,renault,gas,std,two,hatchback,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9895.0

In [18]:
df2 = df.head(15)[['make','horsepower']]
df2

           make  horsepower
0   alfa-romero       111.0
1   alfa-romero       111.0
2   alfa-romero       154.0
3          audi       102.0
4          audi       115.0
5          audi       110.0
6          audi       110.0
7          audi       110.0
8          audi       140.0
9          audi       160.0
10          bmw       101.0
11          bmw       101.0
12          bmw       121.0
13          bmw       121.0
14          bmw       121.0

In [19]:
df2[df2.duplicated()] ## เเสดงข้อมูลที่ซ้ำกันของ colum make กับ horsepower

           make  horsepower
1   alfa-romero       111.0
6          audi       110.0
7          audi       110.0
11          bmw       101.0
13          bmw       121.0
14          bmw       121.0

In [20]:
df2.drop_duplicates() ## นำข้อมูลที่ซ้ำกันทั้งสอง colum ออก

           make  horsepower
0   alfa-romero       111.0
2   alfa-romero       154.0
3          audi       102.0
4          audi       115.0
5          audi       110.0
8          audi       140.0
9          audi       160.0
10          bmw       101.0
12          bmw       121.0

In [21]:
df2.rename(columns ={'horsepower' : 'HP','make':'Brand'}, inplace = True) ## เปลี่ยนชื่อ colum
df2

          Brand     HP
0   alfa-romero  111.0
1   alfa-romero  111.0
2   alfa-romero  154.0
3          audi  102.0
4          audi  115.0
5          audi  110.0
6          audi  110.0
7          audi  110.0
8          audi  140.0
9          audi  160.0
10          bmw  101.0
11          bmw  101.0
12          bmw  121.0
13          bmw  121.0
14          bmw  121.0

In [22]:
df2.drop( ['Brand'], axis = 1) ## ลบ colum (axis = 1) ชื่อ Brand

       HP
0   111.0
1   111.0
2   154.0
3   102.0
4   115.0
5   110.0
6   110.0
7   110.0
8   140.0
9   160.0
10  101.0
11  101.0
12  121.0
13  121.0
14  121.0

In [23]:
df2.drop([0], axis =0) ## ลบ row (axis = 0) ตำเเหน่งที่ 0

          Brand     HP
1   alfa-romero  111.0
2   alfa-romero  154.0
3          audi  102.0
4          audi  115.0
5          audi  110.0
6          audi  110.0
7          audi  110.0
8          audi  140.0
9          audi  160.0
10          bmw  101.0
11          bmw  101.0
12          bmw  121.0
13          bmw  121.0
14          bmw  121.0

In [24]:
df3 = df2.head()
df3

         Brand     HP
0  alfa-romero  111.0
1  alfa-romero  111.0
2  alfa-romero  154.0
3         audi  102.0
4         audi  115.0

In [25]:
new_HP =df3['HP'].apply(lambda x : x*3) ## นำ 3 คูณทั้ง  colum HP
df3['New HP'] = pd.Series(new_HP) ## นำ series เข้าไปใน Dataframe

D:\Program ETC\Jupyter\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
df3

         Brand     HP  New HP
0  alfa-romero  111.0   333.0
1  alfa-romero  111.0   333.0
2  alfa-romero  154.0   462.0
3         audi  102.0   306.0
4         audi  115.0   345.0